<div class="container p-5 bg-white rounded shadow-lg">
    <div>
        <h2 class="text-center">{{title}}</h2>
    </div>

    <div class="container">
        <div class="row">
            <form [formGroup]="loginForm" (ngSubmit)="save(loginForm.value)">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email" />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" />
                </div>
                <div class="mb-3">
                    <label for="server" class="form-label">Server</label>
                    <input type="text" class="form-control" formControlName="server" />
                </div>
                <div class="mb-3 text-center">
                    <h4>Don't have an account ? Register <a target="_blank" href="https://login.ospreyfx.com/signup">here</a></h4>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>